{% extends "base.html" %}
{% load cloudinary %}

{% block content %}


<h3 class="mt-3 text-center">Add your Brick & Set</h3>


{% if submitted %}
<div class="alert alert-primary" role="alert">
  Your Brick & Set Was Submitted Succeffuly!!!
</div>

{% else %}


<div class="container">
  <div class="row justify-content-around">
    <div class="col-sm-4">
      <img class="align-self-center mr-3"
        src="https://res.cloudinary.com/drs3eqnpf/image/upload/v1674076342/BrickLib/lego_addset-removebg-preview_moi9f1.png"
        alt="Lego man and computer on the desk">
    </div>
    <div class="col-sm-4">
      <h5 class="mt-0">Please, enter with your Set & Brick information</h5>
  

        <form action="" method=POST enctype="multipart/form-data">
          {% csrf_token %}

          {{ form.as_p }}
          <div class="col-sm-4">
          <input type="submit" value="Submit" class="btn btn-primary">
          </div>
        </form>
  <br/>
      
    </div>

  </div>


  {% endif %}





  {%endblock%}