{% extends "base.html" %}
{% load cloudinary %}

{% block content %}

  <!-- hero section -->
  <section class="account-container hero-container mt-2">
    <div class="hero-text p-2 flex flex-column flex-md-row">
        <div id="hero-text-container" class="p-4">
            <div class="p-4">
                <div class="p-4">
                    <div class="p-4">
                        <h2 class="mt-3 text-center">Welcome to BrickLib!</h2>
                        <h4 class="my-2 text-center">BrickLib makes it easy to control and organize your LEGO collection and the sets you want.</h4>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <img src="https://res.cloudinary.com/drs3eqnpf/image/upload/v1673453661/BrickLib/characters_jmak4c.png" class="img-fluid rounded mx-auto d-block" alt="Lego characters">
        </div>
    </div>
</section>


{%endblock%}