 {% extends "base.html" %}

 {% block content %}

 <div class="container-fluid">
     <div class="row">

         <h2 class="mt-3 text-center">All Bricks & Sets</h2>
         <div class="col-12 mt-3 left">
             <div class="row">
                 {% for set in set_list %}
                 <div class="col-md-4">

                     <div class="card mb-4">
                         <div class="card-body">
                             <div class="image-container img-fluid max-width: 100px; height: 100px;">
                                 {% if "placeholder" in set.featured_image.url %}
                                 <img class="card-img-top"
                                     src="https://res.cloudinary.com/drs3eqnpf/image/upload/v1673709187/BrickLib/default_zp429f.jpg"
                                     alt="Yellow Brick Face">
                                 {% else %}
                                 <img class="card-img-top" src=" {{ set.featured_image.url }}" alt="{{set.title}}">
                                 {% endif %}
                             </div>
                             <a href="{% url 'show_set' set.id %}">
                                 <h5 class="card-title text-center">{{ set.title }}</h5>
                             </a>
                             <p class="card-text text-capitalize"><strong>Theme</strong><br /> {{ set.theme }}</p>
                             <p class="card-text text-capitalize"><strong>Descripton</strong><br />
                                 {{ set.description }}</p>
                             <small class="text-muted">Last updated {{ set.created_on }}</small>
                             <div>

                                 <a href="{% url 'update_set' set.id %}" class="btn btn-primary right">Update</a>

                             </div>
                         </div>
                     </div>

                 </div>
                 {% if forloop.counter|divisibleby:3 %}
             </div>
             <div class="row">
                 {% endif %}
                 {% endfor %}

             </div>
         </div>
     </div>
     {% if is_paginated %}
     <nav aria-label="Page navigation">
         <ul class="pagination justify-content-center">
             {% if page_obj.has_previous %}
             <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
             {% endif %}
             {% if page_obj.has_next %}
             <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

             {% endif %}
         </ul>
     </nav>
     {% endif %}
 </div>
 {%endblock%}