{% extends "base.html" %}
{% load cloudinary %}

{% block content %}

  <!-- hero section -->
  <section class="account-container hero-container mt-2">
    <div class="hero-text p-2 flex flex-column flex-md-row">
        <div id="hero-text-container" class="p-4">
            <div class="p-4">
                <div class="p-4">
                    <div class="p-4">
                        <h2 class="mt-3 text-center">Update Sets & Bricks</h2>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>


{%endblock%}